In [ ]:
#1.

class Circle:

  def __init__(self , r):
    self.r = r
  
  def Area(self):
    return 3.14 * self.r * self.r
  
  def Perimeter(self):
    return 2 * 3.14 * self.r


c1 = Circle(5)
print(c1.Area())
print(c1.Perimeter())

78.5
31.400000000000002

In [18]:
#2.

class data:

  def __init__(self , Name , Emp_ID , Branch , Salary):
    self.Name   = Name
    self.Emp_ID = Emp_ID
    self.Branch = Branch
    self.Salary = Salary

  def show(self):
    print("Faculty Name : {}".format(self.Name))
    print("Faculty Emp_ID : {}".format(self.Emp_ID))
    print("Faculty Branch : {}".format(self.Branch))
    print("Faculty Salary : {}\n".format(self.Salary))


teaching_faculty = ["faculty1" , "faculty2" , "faculty3" , "faculty4" , "faculty5"]
Names    = ["name1" , "name2" , "name3" , "name4" , "name5"]
Branch   = ["Computer Science" , "EEE" , "ECE" , "Mechanical" , "Biotechnology"]
Salary   = ["2,00,000" , "1,00,000" , "1,50,000" , "1,75,000" , "1,55,000"]
Emp_ID   = ["name1@cse" , "name2@eee" , "name3@ece" , "name4@mechanical" , "name5@biotechnology"]

for n in range(0,5):
  teaching_faculty[n] = data(Names[n] , Emp_ID[n] , Branch[n] , Salary[n])
  teaching_faculty[n].show()

Faculty Name : name1
Faculty Emp_ID : name1@cse
Faculty Branch : Computer Science
Faculty Salary : 2,00,000

Faculty Name : name2
Faculty Emp_ID : name2@eee
Faculty Branch : EEE
Faculty Salary : 1,00,000

Faculty Name : name3
Faculty Emp_ID : name3@ece
Faculty Branch : ECE
Faculty Salary : 1,50,000

Faculty Name : name4
Faculty Emp_ID : name4@mechanical
Faculty Branch : Mechanical
Faculty Salary : 1,75,000

Faculty Name : name5
Faculty Emp_ID : name5@biotechnology
Faculty Branch : Biotechnology
Faculty Salary : 1,55,000

In [ ]:
#3.

class account:

  def __init__(self , Account_No , Account_holder_name , Amount):
    self.Account_No = Account_No
    self.Account_holder_name = Account_holder_name
    self.Total = 0
    self.Amount  = Amount
    
  def Deposit(self , extra_amount = 0):
    if(extra_amount == 0):
      print("You Deposited : " , self.Amount)
    else:
      print("You Deposited : " , extra_amount)
      
    self.Total = self.Total + self.Amount + extra_amount
    print("Your Total Balance : " , self.Total)

  def Withdraw(self):
    if(self.Amount > self.Total):
      print("You donot have enouhg balance \n your balance is : " , self.Total)
    else:
      print("Amount withdrawing : " , self.Amount)
      self.Total = self.Total - self.Amount
      print("Remaining Balance : " , self.Total)

  def check_balance(self):
    print("Your Balance is : " , self.Total)

  def display_account_details(self):
    print("Account_No : " , self.Account_No , "\nAccount_hoder_name : " , self.Account_holder_name , "\nTotal Amount : " , self.Total)
    


person1 = account(123986 , "name1121" , 50000) 
person1.Deposit()
person1.check_balance()
person1.display_account_details()  
person1.Deposit(20500)

You Deposited :  50000
Your Total Balance :  50000
Your Balance is :  50000
Account_No :  123986
Account_hoder_name :  name1121
Total Amount :  50000
You Deposited :  20500
Your Total Balance :  120500

In [ ]:
#4.

class student_datails:

  def __init__(self , name , USN , marks):
    self.name = name
    self.USN  = USN
    self.marks = marks
  def details(self):
    print("student name : " , self.name , "\nstudent USN : " , self.USN , "\nstudent marks : " , self.marks)

st1 = student_datails("name3232" , "20bcs084" , ['A1' , 'A1' , 'A1'])
st1.details()

student name :  name3232
student USN :  20bcs084
student marks :  ['A1', 'A1', 'A1']

In [3]:
#5.

class Hospital:
  
  sum  = 0
  no_of_patients_admitted    = 1
  no_of_patients_in_general_ward = 0 

  def __init__(self , name , date_of_admission , List_of_symtoms , Oxygen_level , Date_of_discharge):

    self.name = name 
    self.date_of_admission = date_of_admission
    self.List_of_symtoms   = List_of_symtoms
    self.Oxygen_level      = Oxygen_level
    self.Date_of_discharge = Date_of_discharge

  def check(self):
    print("number of patients admitted are " , Hospital.no_of_patients_admitted , "\n")
    Hospital.no_of_patients_admitted = Hospital.no_of_patients_admitted + 1 

    if self.Oxygen_level < 90:
      Hospital.sum += 1
      print("put on oxygen support")
      print("number of patient's require oxygen support is : " , Hospital.sum , "\n")
   
    else:
      Hospital.no_of_patients_in_general_ward += 1 
      print("move to the general ward")
      print("number of patients in general ward is " , Hospital.no_of_patients_in_general_ward , "\n")
      

p1 = Hospital("name656" , "26/03/2021" , ["fever" , "cold" , "headache"] , 80 , "4/04/2021")
p1.check()
p2 = Hospital("name476" , "28/03/2021" , ["fever" , "cold" , "stomachache"] , 110 , "8/04/2021")
p2.check()

p3 = Hospital("name1231" , "30/03/2021" , ["breathing_problem" , "cold"] , 130 , "10/04/2021")
p3.check()

number of patients admitted are  1

put on oxygen support
number of patient's require oxygen support is :  1

number of patients admitted are  2

move to the general ward
number of patients in general ward is  1

number of patients admitted are  3

move to the general ward
number of patients in general ward is  2

In [ ]:
#6.

class time:

  def __init__(self , hours , minutes , seconds):

    self.hours   = 0
    self.minutes = 0
    self.seconds = 0

  def display(self):
    print(self.hours , ":" , self.minutes , ":" , self.seconds)

t1 = time(6 , 36 , 36)
t1.display()

class time:

  def __init__(self , hours , minutes , seconds):
    self.hours   = 9
    self.minutes = 19
    self.seconds = 19
  
  def display(self):
    print(self.hours , ":" , self.minutes , ":" , self.seconds)

t2 = time(4 , 56 , 59)
t2.display()

0 : 0 : 0
9 : 19 : 19

In [ ]:
#7.

class details:

  def __init__(self , Name , Age , rollno):
    self.Name   = Name
    self.Age    = Age
    self.rollno = rollno

  def compare_age(self , ob1):
    if ob1.Age == self.Age:
      print("Age is Equal")
    else:
      print("Age is not Equal")

std1 = details("Rahul" , 21 , 33)
std2 = details("Rohit" , 22 , 74)

std1.compare_age(std2)

std1 = details("Rahul" , 23 , 43)
std2 = details("Rohit" , 23 , 54)

std1.compare_age(std2)

Age is not Equal
Age is Equal

In [ ]:
#8.

class Student_details:

  Sem       = 1 
  Institute = "IIIT DHARWAD"

  def __init__(self , Name , usn):
    self.Name = Name
    self.usn  = usn

  def show(self):
    print(self.Name, "\n", self.usn)

  @classmethod
  def det(cls):
    print(cls.Sem,"\n",cls.Institute)

  @staticmethod
  def explanation():
    print("This is a student details class which has details of the student studing in IIIT DHARWAD and currently in 1st semister")
    


sd1 = Student_details("name6166" , "20bcs0787")
sd1.show()
sd1.det()
sd1.explanation()

name6166
 20bcs0787
1
 IIIT DHARWAD
This is a student details class which has details of the student studing in IIIT DHARWAD and currently in 1st semister

In [23]:
#9.

class Student:

  def __init__(self,name,roll_no,sem):

    self.name          = name
    self.roll_no       = roll_no
    self.sem           = sem

    
  def show(self):

    print(self.name)
    print(self.roll_no)
    print(self.sem)


  class Laptop:

    def __init__(self,cpu,ram,harddisk):
      self.cpu = cpu
      self.ram = ram
      self.harddisk = harddisk

    def details(self):
      print(self.cpu , self.ram , self.harddisk , "\n")


stu1 =  Student("name5433" , "20bcs6576" , 2)
stu2 =  Student("name2311" , "20bcs9374" , 3)
lp1  =  stu1.Laptop("i5" , 8 , "512")
lp2  =  stu2.Laptop("i7" , 8 , "1TB")
stu1.show()
lp1.details()
stu2.show()
lp2.details()

name5433
20bcs6576
2
i5 8 512

name2311
20bcs9374
3
i7 8 1TB